#location {
    width: 100%;
}

/* =============================================================================
   SPONSORS  and  PARTNERS
   ========================================================================== */
   .sponsor-item,
   .partner-item {
     display: inline-block;
     margin: 0 30px 30px 0;
   }
   .sponsor--link,
   .partner-link {
     display: block;
     width: 150px;
     height: 100px;
     text-align: center;
     vertical-align: middle;
     line-height: 100px;
     padding: 0 10px 0 10px;
   }

.footer {
  padding: 20px 0 0 0;
}

ul.list  li {
  font-size: 1.6em;
  line-height: 1.4em;
  margin-left: 2em;
  list-style: circle;
  list-style-type: disc;
}

h2.subtitle {
  margin-bottom: 20px;
  font-size: 3em;
  letter-spacing: -0.02em;
  color: white;
  font-style: italic;
}
.subtitle a {
  color: white;
}

h1.logo-name {
  margin-bottom: 0;
  font-size: 5em;
  letter-spacing: -0.04em;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/cover.jpg');
  background-color: #2b2b2b;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.section { 
  display: none; 
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 4px;
  padding: 19px;
  margin: 0 -20px 0;
}

.section.current { display: block; }